<link rel="stylesheet" href="/style/product.css" />

<div class="row my-2" style="justify-content:center">
    <div class="col-11">
        <div class="product-details-container">
            <div class="product-image">
                <div class="main-image">
                    <img src="{{product.image}}" onerror="this.onerror=null; this.src='/imgs/image.png';"
                        alt="Product Image" />
                </div>
            </div>

            <div class="product-info">
                <section class="product-show">
                    <h1 class="product-name">{{product.name}}</h1>
                    <p class="product-price">{{product.price}} VNĐ</p>
                    <p class="product-name">Stock: {{product.stock}}</p>
                    <br>

                    <div class="col-lg-3">
                        <div class="input-group">
                            <span class="input-group-btn">
                                <button type="button" class="add-to-cart-btn normal" data-type="minus" data-field=""
                                    id="decrease">
                                    - </button>
                            </span>
                            <input type="number" id="quantity" name="quantity" class="form-control" value="1" min="1"
                                max="100">
                            <span class="input-group-btn">
                                <button type="button" class="add-to-cart-btn normal" data-type="plus" data-field=""
                                    id="increase">
                                    + </button>
                            </span>
                        </div>
                    </div>
                    <br>
                    <br>
                    <br>
                    <button class="add-to-cart-btn" style="padding: 10px;"
                        onclick="addToCart(event, {{product.id}}, 0)">Add to Cart</button>
                </section>
            </div>
        </div>

        <div class="product-description">
            <h2>Product Description</h2>
            <p class="description-text">{{product.description}}</p>
        </div>

        <div class="relative-products">
            <h2>Relative Products</h2>
            <div class="product-grid">
                {{#each relativeProducts}}
                <a href="/product/{{this.id}}" class="product-link">
                    <div class="product-card">
                        <img src="{{this.image}}" onerror="this.onerror=null; this.src='/imgs/image.png';"
                            alt="{{this.name}}" class="product-image" />
                        <div class="body">
                            <div class="product-info">
                                <p class="product-name" style="font-weight: bold">{{this.name}}</p>
                                <p class="product-name">{{this.price}} VNĐ</p>
                            </div>
                            <button class="add-to-cart-btn normal" onclick="addToCart(event, {{this.id}})">+</button>
                        </div>
                    </div>
                </a>
                {{/each}}
            </div>
        </div>
    </div>
</div>

<script src="/js/product.js"></script>