<link rel="stylesheet" href="/style/profile.css">

<div class="cont">
    <div class="main-body">
        <div class="main-card">
            <div class="main-card__content">
                <div class="avatar">
                    <img src="/imgs/male_avatar.png" alt="">
                </div>
                <div class="main-card__infor">
                    <div class="button">
                        {{#if user.is_admin}}
                        {{else}}
                            <button class="button__purchased-history" onclick="window.location.href = '/order'">Orders History</button>
                        {{/if}}
                    </div>
                </div>
            </div>
        </div>

        <div id="secondCard" class="second-card">
            <div class="row-detail">
                <div class="label">
                    <h4>Username</h4>
                </div>
                <div class="display" id="username_label">
                    {{user.username}}
                </div>
            </div>
            <div class="row-detail">
                <div class="label">
                    <h4>Email</h4>
                </div>
                <div class="display" id="email_label">
                    {{user.email}}
                </div>
            </div>
            <div class="row-detail">
                <div class="label">
                    <h4>&ThinSpace;</h4>
                </div>
                <div class="display"></div>
            </div>
            <hr>
            <br>
            <div style="display: flex; justify-content: center; gap: 20px; width: 80%;">
                <div class="change-infor-btn-container">
                    <button class="change-infor" onclick="showChangeInfo()">Change</button>
                </div>
                <div class="change-infor-btn-container">
                    <button class="change-infor" onclick="showChangePass()">Change Password</button>
                </div>
            </div>
        </div>

        <!-- Change Information Form -->
        <form id="ChangeInfor" class="second-card">
            <div class="row-detail">
                <div class="label">
                    <h4>Username</h4>
                </div>
                <div class="display">
                    <div class="col-sm-6">
                        <input type="text" class="form-control" id="Username" value="{{user.username}}">
                    </div>
                </div>
            </div>
            <div class="row-detail">
                <div class="label">
                    <h4>Email</h4>
                </div>
                <div class="display">
                    <div class="col-sm-6">
                        <input type="email" class="form-control" id="Email" value="{{user.email}}">
                    </div>
                </div>
            </div>
            <div class="row-detail">
                <div class="label">
                    <h4>&ThinSpace; </h4>
                </div>
            </div>
            <hr>

            <div style="display: flex; justify-content: center; gap: 20px; width: 80%; margin-top: 40px;">
                <div class="change-infor-btn-container">
                    <button type="button" class="change-infor" onclick="goBack(event)">Back</button>
                </div>
                <div class="change-infor-btn-container">
                    <button type="button" class="change-infor" onclick="changeInfor(event)"> Submit</button>
                </div>
            </div>
        </form>

        <!-- Change Password Form -->
        <form id="ChangePass" class="second-card">
            <div class="row-detail">
                <div class="label">
                    <h4>Old password</h4>
                </div>
                <div class="display">
                    <div class="col-sm-6">
                        <input type="password" class="form-control" name="OldPassword" id="oldPassword">
                    </div>
                </div>
            </div>
            <div class="row-detail">
                <div class="label">
                    <h4>New Password</h4>
                </div>
                <div class="display">
                    <div class="col-sm-6">
                        <input type="password" class="form-control" name="NewPassword" id="newPassword">
                    </div>
                </div>
            </div>
            <div class="row-detail">
                <div class="label">
                    <h4>Re-enter Password</h4>
                </div>
                <div class="display">
                    <div class="col-sm-6">
                        <input type="password" class="form-control" name="NewPassword2" id="newPassword2">
                    </div>
                </div>
            </div>
            <hr>
            <br>
            <div style="display: flex; justify-content: center; gap: 20px; width: 80%">
                <div class="change-infor-btn-container">
                    <button type="button" class="change-infor" onclick="goBack2(event)">Back</button>
                </div>
                <div class="change-infor-btn-container">
                    <button type="button" class="change-infor" onclick="ChangePass(event)">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script src="/js/profile.js"></script>