<header>
    <div aria-live="polite" aria-atomic="true" class="position-relative">
        <div id="toast-container" class="toast-container top-0 end-0 p-3"></div>
    </div>

    <nav class="navbar bg-black text-white" style="margin-top: 5px">
        <div class="container-fluid">
            <a href="/" class="navbar-brand">Homepage</a>

            <div class="left-cont">
                <form class="d-flex" style="width:100%" id="searchForm" onsubmit="search(event)">
                    <input class="form-control me-2" type="search" id="query" placeholder="Search" aria-label="Search"
                        style="width:100%" value="{{query}}">
                    <button class="btn btn-outline-success" type="submit" id="searchBtn">Search</button>
                </form>
                <a class="header-user" href="/cart">
                    <i class="fa-solid fa-cart-shopping"></i>
                    <span class="header-user-name"> Cart </span>
                </a>
                {{#if user.username}}
                <div class="header-user">
                    <img src="/imgs/male_avatar.png" onerror="this.onerror=null; this.src='/imgs/image.png';"
                        alt="avatar" class="header-user-img" />
                    <span class="header-user-name"> {{user.username}} </span>
                    <ul class="header-user-menu">
                        <li class="header-user-item">
                            <a href="/user/profile">My Account</a>
                        </li>
                        <li class="header-user-item">
                            <a href="/order">Order History</a>
                        </li>
                        <li class="header-user-item header-user-item--separate">
                            <a href="/auth/logout">Log Out</a>
                        </li>
                    </ul>
                </div>
                {{else}}
                <div class="header-user">
                    <a class="header-user-name" href="/auth"> Sign In/Sign Up </a>
                </div>
                {{/if}}
            </div>
        </div>
    </nav>
</header>

<script>
    async function search(event) {
        event.preventDefault();
        const query = $('#query').val();

        try {
            const res = await fetch('/store_query', {
                method: "POST",
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify({ query })
            });
            if (!res.ok) {
                throw new Error('Failed to store query on the server.');
            }
            if (!window.location.href.includes('/search')) {
                return window.location.href = '/search';
            }
            loadPage(1, 10, 0)
        } catch (error) {
            console.error('Error:', error.message);
        }
    }
    const user = {{{ json user }}};
    const uid = '{{user.id}}';
    if (user.is_admin) {
        window.location.href = '/admin';
    }
</script>